* {
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary: #FFB74A;
    --light: #F2CA9A;
    --cinza1: #717171;
    --cinza2: #595959;
    --cinza3: #393939;
}

.header {
    margin-left: 24px;
    margin-top: 20px;
}

.header1 {
    background-color: var(--cinza2); 
    width: 270px; height: 189px; border-radius: 15px;
}

#root {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(112.68deg, #E0B64B 0%, #FFB649 0.01%, #7296F3 100%);
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=- BOTÂO 1 DO MENU -=-=-=-=-=-=-=-=-=-=-=-=-=- */

.btn1 {
    margin-top: 22px;
    width: 270px;
    height: 52px;
    box-shadow: 0px 0px 5px var(--primary);
    border-radius: 15px;
    background-color: var(--cinza2);
}

.btn1_p1 {
    float: left;
    display: flex; 
    margin-top: 5px;
    margin-left: 11px;
}

.btn1_p1 > h2 {
   color: var(--primary);
   text-shadow: 0px 0px 3px var(--primary);
   margin-left: 11px;
   margin-top: 6px;
   font-size: 24px;
}

.btn1_p2 {
    float: right;
    background-color: var(--primary);
    text-shadow: 0px 0px 3px var(--primary);
    height: 52px;
    width: 11px;
    border-radius: 0px 15px 15px 0px;
}



/* -=-=-=-=-=-=-=-=-=-=-=-=-=- BOTÂO 2 DO MENU -=-=-=-=-=-=-=-=-=-=-=-=-=- */

.btn2 {
    margin-top: 22px;
    width: 270px;
    height: 52px;
    border-radius: 15px;
    background-color: var(--cinza2);
}

.btn2_p1 {
    float: left;
    display: flex; 
    margin-top: 5px;
    margin-left: 11px;
}

.btn2_p1 > h2 {
    color: var(--light);
    margin-left: 11px;
    margin-top: 6px;
    font-size: 24px;
 }
 
 .btn2_p2 {
     float: right;
     background-color: #9D8B76;
     height: 52px;
     width: 11px;
     border-radius: 0px 15px 15px 0px;
 }


.menu1 {
    background-color: #595959;
    border-radius: 20px;
    margin-left: 21px;
    margin-top: 20px;
    width: 551px;
    height: 897px;
    display: flex;
    justify-content: center;
}